---
import { baseUrl } from '@/utils/functions';
import ArrowKeepScrolling from '@/components/Hero1/ArrowKeepScrolling.astro';
import ComingContainer from '@/components/Hero1/ComingContainer.astro';
import ViceCityDescription from '@/components/Hero1/ViceCityDescription.astro';
import MaleteraEnding from './MaleteraEnding.astro';
import Letrero from './Letrero.astro';
import Outro from './Outro.astro';
const hero = baseUrl('/assets/hero-img.webp');
const heroAndLogo = baseUrl('/assets/hero-img-with-logo-white.webp');
const logoWhite = baseUrl('/assets/grand-theft-auto-logo-white-small.svg');
---

<section class='hero-1'>
  <div class='super-container-mask'>
    <section class='container-heros'>
      <img class='hero-img' src={hero} alt='Hero' />
      <img class='hero-img-and-logo' src={heroAndLogo} alt='Hero' />
    </section>
  </div>
  <ComingContainer />
  <ViceCityDescription />
  <MaleteraEnding />
  <ArrowKeepScrolling />
  <Outro />
  <Letrero />
</section>

<script>
  import { $, baseUrl } from '@/utils/functions';
  import gsap from 'gsap';
  import ScrollTrigger from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);
  const $containerHeros = $('.container-heros');
  const $superContainerMask = $('.super-container-mask');
  const $heroImgAndLogo = $('.hero-img-and-logo');
  const $comingContainer = $('.coming-container');
  const $viceCityDescription = $('.vice-city-description');
  const $maleteraEnding = $('.maletera-ending');
  const $keepScrolling = $('.keep-scrolling');
  const $amLetrero = $('.am-letrero');
  const $amOutro = $('.am-outro');

  /*************************************ENDING */
  const canvas = $('.maletera-ending') as HTMLCanvasElement;
  const context = canvas.getContext('2d') as CanvasRenderingContext2D;
  canvas.width = 1892;
  canvas.height = 890;
  const frameCount = 89;
  const currentFrame = (index: number) =>
    baseUrl(
      `/assets/frames-final/frame-001-ending_${(index + 1).toString().padStart(6, '0')}.jpg`
    );

  const images: HTMLImageElement[] = [];
  const airpods = {
    frame: 0
  };

  for (let i = 0; i < frameCount; i++) {
    const img = document.createElement('img');
    img.src = currentFrame(i);
    images.push(img);
  }

  images[0].onload = render;

  function render() {
    context.clearRect(0, 0, canvas.width, canvas.height);
    context.drawImage(images[airpods.frame], 0, 0);
  }

  /*************************************ENDING */

  const tl = gsap.timeline({
    scrollTrigger: {
      scrub: 0.5,
      pin: true,
      pinSpacing: false
    }
  });

  tl.to($containerHeros, { scale: 1, opacity: 1 }, 0)
    .to($heroImgAndLogo, { opacity: 0 })
    .to($superContainerMask, { maskSize: '15vmax', duration: 1 }, 0.1)
    .to($containerHeros, { opacity: 0 }, 0.75)
    .to(
      $comingContainer,
      {
        '--y-position-gradient': '40vmax',
        '--width-gradient': '290vmax',
        '--height-gradient': '290vmax'
      },
      1.1
    )
    .to(
      $superContainerMask,
      {
        opacity: 0,
        duration: 0.5
      },
      0.9
    )
    .to(
      $comingContainer,
      {
        '--y-gradient': '-200%',
        duration: 0.5,
      },
      1.4
    )
    .to(
      $viceCityDescription,
      {
        '--y-position-gradient': '40vmax',
        '--width-gradient': '600vmax',
        '--height-gradient': '600vmax'
      },
      1.8
    )
    .to($amOutro,{
      opacity: 1
    }, 1.2)
    .to(
      [$comingContainer, $amOutro],
      {
        opacity: 0
      },
      1.5
    )
    .to(
      '.vice-city-description-son',
      {
        scale: 0.95
      },
      '<'
    )
    .to(
      [$viceCityDescription, $keepScrolling],
      {
        opacity: 0
      },
      2.0
    )
    .to(
      $maleteraEnding,
      {
        opacity: 1
      },
      2.3
    )
    .to(
      airpods,
      {
        frame: frameCount - 1,
        snap: 'frame',
        ease: 'none',
        onUpdate: render
      },
      2.3
    )
    .to(
      $amLetrero,
      {
        opacity: 1
      },
      2.7
    )
    .to('.am-img-letrero', {
      scale: 1,
      rotation: 364
    }, 2.7);
</script>

<style>
  .hero-1 {
    height: 650vh;
    background-color: var(--global-color-1);
  }

  .super-container-mask {
    background-color: #fff;
    mask-image: url('/assets/grand-theft-auto-logo-white-small.svg');
    mask-repeat: no-repeat;
    mask-position: center 18%;
    mask-size: 4000vmax;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;

    .container-heros {
      height: 100vh;
      position: sticky;
      inset: 0;
      overflow: hidden;
      scale: 1.2;

      img {
        position: sticky;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.escondido {
          transform: scale(2);
          opacity: 0;
        }
      }
    }
  }
</style>
