<div class='keep-scrolling'>
  <svg viewBox='0 0 34 14' fill='none' xmlns='http://www.w3.org/2000/svg'
    ><path
      fill-rule='evenodd'
      clip-rule='evenodd'
      d='M33.5609 1.54346C34.0381 2.5875 33.6881 3.87821 32.7791 4.42633L17.0387 13.9181L1.48663 4.42115C0.580153 3.86761 0.235986 2.57483 0.717909 1.53365C1.19983 0.492464 2.32535 0.097152 3.23182 0.650692L17.0497 9.08858L31.051 0.64551C31.96 0.0973872 33.0837 0.499411 33.5609 1.54346Z'
      fill='currentColor'></path></svg
  >
</div>

<style>
  @keyframes moveArrow {
    0% {
      transform: translateX(-50%) translateY(0) scale(1);
      filter: opacity(1);
    }
    100% {
      transform: translateX(-50%) translateY(-13%) scale(1.1);
      filter: opacity(0.8);
    }
  }

  .keep-scrolling {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    bottom: 0.7vmax;
    width: 2.5vmax;
    height: 2.5vmax;
    z-index: 50;
    animation: moveArrow 1s ease-in-out infinite alternate;

    svg {
      width: 100%;
      height: 100%;
      color: #ffb0c4;
    }
  }
</style>
