---
import { baseUrl } from '@/utils/functions';
import ArrowKeepScrolling from '@/components/ArrowKeepScrolling.astro';
import ComingContainer from './ComingContainer.astro';
import ViceCityDescription from './ViceCityDescription.astro';
const hero = baseUrl('/assets/hero-img.webp');
const heroAndLogo = baseUrl('/assets/hero-img-with-logo-white.webp');
const logoWhite = baseUrl('/assets/grand-theft-auto-logo-white-small.svg');
---

<section class='hero-1'>
  <div class='super-container-mask'>
    <section class='container-heros'>
      <img class='hero-img' src={hero} alt='Hero' />
      <img class='hero-img-and-logo' src={heroAndLogo} alt='Hero' />
    </section>
  </div>
  <ComingContainer />
  <ArrowKeepScrolling />
</section>

<script>
  import { $ } from '@/utils/functions';
  import gsap from 'gsap';
  import ScrollTrigger from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);
  const $containerHeros = $('.container-heros');
  const $superContainerMask = $('.super-container-mask');
  const $heroImgAndLogo = $('.hero-img-and-logo');
  const $comingContainer = $('.coming-container');

  const tl = gsap.timeline({
    scrollTrigger: {
      scrub: 0.5,
      pin: true,
      toggleActions: 'play none play none'
    }
  });

  tl.to($containerHeros, { scale: 1, opacity: 1 })
    .to($heroImgAndLogo, { opacity: 0 }, '<')
    .to($superContainerMask, { maskSize: '15vmax', duration: 1 }, 0.1)
    .to($containerHeros, { opacity: 0 }, 0.75)
    .to($comingContainer, {
      '--y': '40vmax',
      '--width-gradient': '290vmax',
      '--height-gradient': '290vmax',
    }, 1.1);
</script>

<style>
  .hero-1 {
    height: 250vh;
    background-color: var(--global-color-1);
    /* padding-top: 150vh; */
  }

  .super-container-mask {
    background-color: #fff;
    mask-image: url('/assets/grand-theft-auto-logo-white-small.svg');
    mask-repeat: no-repeat;
    mask-position: center 18%;
    mask-size: 4000vmax;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;

    .container-heros {
      height: 100vh;
      position: sticky;
      inset: 0;
      overflow: hidden;
      scale: 1.2;

      img {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.escondido {
          transform: scale(2);
          opacity: 0;
        }
      }
    }
  }
</style>
